.navbar-main
{
    display: flex;
    justify-content:space-between;
    color:silver;

    
}
.navbarlogo
{
    /* background-color: aqua; */
    text-align: center;
}
.navbarlogo p
{
    font-size: 20px;
    font-weight:550;
    font-family: Arial, Helvetica, sans-serif;
}
.navbutton
{
    display:flex;
    justify-content: center;
    gap:10px;
}
.navbutton button
{
    width: 80px;
    background-color: rgb(9, 9, 9);
    border: 1px solid rgb(84, 81, 81);
    color: silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 50px;
}
.navbutton button:hover
{
    background-color:rgb(36, 35, 35);
    cursor: pointer;
}

.b1
{
    min-width: 80px;
    max-width: auto;
    background-color: rgb(9, 9, 9);
    border: 1px solid rgb(84, 81, 81);
    color: silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 50px;
}
 .b1:hover
 {
    background-color:rgb(36, 35, 35);
    cursor: pointer;
 }